@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,700&display=swap');

html,
body,
#root {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1,
h3 {
  margin: 0;
  font-weight: 700;
}

.header {
  display: block;
  position: relative;
  text-align: -webkit-center;
  background-image: url("./assets/header-bg.png");
}

.logo {
  background: url("./assets/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  margin-top: 3vw;
  width: 60vw;
  height: 30vw;
}

.menu {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  padding-top: 2vh;
  font-size: 14px;
  line-height: 22px
}

.item {
  padding-right: 5vh;
}

.content {
  display: flex;
  padding: 10vw;
}

.text {
  margin-right: 10vw;
}
.ad {
  position: sticky;
  top: 10px;
  align-self: flex-start;
}

.kiloren,
.img-footer {
  width: -webkit-fill-available;
}

.article {
  padding: 10vw;
}

.article-picture {
  float: left;
  margin: 0 2vh 2vh 0;
}

.article h1 {
  text-align: center;
  margin-bottom: 2vw;
}

.article p {
  line-height: 32px;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  background-image: url("./assets/darthvader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #181818;
  color: #9B9B9B;
  margin-top: -10px;
  text-align: center;
  margin-bottom: 4vh;
  height: 30vh;
}

.footer-bottom-title {
  padding-top: 7vh;
}

.footer-bottom li {
  list-style-type: none;
  text-decoration: underline;
}

.footer p {
  margin: 0;
}

.footer-box {
  margin-top: 4vh;
}



