@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,700&display=swap');

html,
body,
#root {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.header {
  display: block;
  position: relative;
  text-align: -webkit-center;
}

.card3,
.card4 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card3 {
  background-image: url("./assets/header-bg.png");
  position: absolute;
/*  margin: -10px 0px 0px -10px;
  width: 105%;
  height: 500px;*/
  width: 100vw;
  height: 30vw;
  background-size: cover;
}

.card4 {
  background: url("./assets/logo.png");
/*  margin: 0 auto;
  width: 75vh;
  height: 35vh;
  margin-top: 10vh;*/
  width: 60vw;
  height: 25vw;

}



.menu {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  padding-top: 2vh;

  font-weight: bold;
  font-size: 14px;
  line-height: 22px
}

.item {
  padding-right: 5vh;
}

.content {
  display: flex;
  justify-content: center;
}

.ad .text {
  margin-left: 2vh;
}
