@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,700&display=swap');

html,
body,
#root {
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1,
h3 {
  margin: 0;
  font-weight: 700;
}

.banner {
  display: block;
  position: relative;
  text-align: -webkit-center;
  background-image: url("./assets/header-bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -6vh;
  height: 53vh;
}

.logo {
  background: url("./assets/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  width: 65vw;
  height: 68vh;
}

.content {
  display: flex;
  padding: 7.4vh 12vw;
}

.text {
  font-size: 2.1vh;
}

.ad {
  position: sticky;
  top: 10px;
  align-self: flex-start;
  margin-left: 9.5vw;
}

.kiloren {
  background-image: url('./assets/kiloren.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 49vw;
}

.article {
  padding: 6.5vw 12vw;
}

.article-picture {
  float: left;
  margin: 0 2vh 2vh 0;
}

.article h1 {
  text-align: center;
  margin-bottom: 2vw;
}

.article p {
  font-size: 1.6vh;
  line-height: 26px;
  margin: 0;
}

.img-footer {
  background-image: url('./assets/stormtroopers.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 24vw;
}

@media screen and (max-width: 960px) {

  .ad {
    display: none;
  }

  .content {
    padding: 4.5vh 9vw;
  }

  .kiloren {
    background-image: url('./assets/kiloren-2x.jpg');
    background-size: 124vh;
    height: 61vh;
  }

  .text {
    text-align: center;
    font-size: 2.6vh;
  }

  .banner {
    display: none;
  }

  .article h1 {
    line-height: 4vh;
    margin-bottom: 5vh;
  }

  .article p {
    font-size: 2vh;
    line-height: 21px;
  }

  .img-footer {
    background-image: url('./assets/stormtroopers-2x.jpg');
    background-size: 156vh;
    height: 38vh;
  }
}
